<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adding post with this form</title>
</head>
<body>
   <form method="post" action="/posts">
    <input placeholder="write your username" type="text" name="username" id=""> <br> <br>
    <textarea placeholder="type your content" name="content" id="" cols="30" rows="10"></textarea> <br> <br>
    <button>submit post</button>
   </form> 
</body>
</html>